body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.init-hidden {
    display:none;
}

.quiz-area {
    flex-direction: column;
}

/*:root {
    --magenta: #ff00ff;
    --bluepurple: #303060;
    --darkpurple: #181848;
    --lightpurple: #7c40ff;
    --midpurple: #2A2A50;
}

body {
    background-color: var(--bluepurple);
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    height: 400px;
    width: 600px;
    background-color: var(--darkpurple);
    border-radius: 8px;
    padding: 25px;
}

.wrapper .question {
    background-color:var(--midpurple);
    color: white;
    border-radius: 8px;
    min-height: 50px;
    font-size: 25px;
    width: 100%;
    float: left;
    padding: 15px;
}

.wrapper .choices {
    float: left;
    width: 100%;
}

.wrapper .choices ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0%;
}

.wrapper .choices ul li {
    display: inline-block;
    background-color: white;
    color: wheat;
    margin-bottom: 30px;
    width: 50%;
    box-shadow: 0px 3px 0px black;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
}

.wrapper .choices ul li.correctAnswer {
    background-color: greenyellow;
    box-shadow: 0px 3px 0px black;
}

.wrapper. .choices ul li.wrongAnswers {
    background-color: red;
    box-shadow: 0px 3px 0px black;
}

.wrapper .choices ul li:active{
    box-shadow: 0px 0px 0px rgb(84, 110, 179);
}

.wrapper.highScore {
    float: left;
    width: 100%;
}

.wrapper .highScore .next button {
    background-color:var(--lightpurple);
    color: white;
    border-radius: 8px;
    border: none;
    padding 10px 70px;
}

.wrapper .highScore .highScoreChart{
    width: 50%;
    font-size: 20px;
    line-height: 40px;
    float: left;
    color: white;
}

.wrapper .highScore .highScoreChart span{
    background-color:cornflowerblue;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
}
*/